<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= person.age %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= person.rank %>
  </p>

  <p>
    <strong>Fall date:</strong>
    <%= person.fall_date %>
  </p>

  <p>
    <strong>Heb fall date:</strong>
    <%= person.heb_fall_date %>
  </p>

  <p>
    <strong>Burial place:</strong>
    <%= person.burial_place %>
  </p>

  <p>
    <strong>Ken:</strong>
    <%= person.ken %>
  </p>

  <p>
    <strong>Garin:</strong>
    <%= person.garin %>
  </p>

  <p>
    <strong>Life Story:</strong>
    <%= person.life_story %>
  </p>

</div>
