<div id="<%= dom_id person %>">

  <p>
    <strong>שם מלא:</strong>
    <%= link_to person.name, person %>
  </p>

  <p>
    <strong>גיל:</strong>
    <%= person.age %>
  </p>

  <p>
    <strong>דרגה:</strong>
    <%= person.rank %>
  </p>

  <p>
    <strong>תאריך נפילה:</strong>
    <%= person.fall_date %>
  </p>

  <p>
    <strong>תאריך נפילה עברי:</strong>
    <%= person.heb_fall_date %>
  </p>

  <p>
    <strong>מקום קבורה:</strong>
    <%= person.burial_place %>
  </p>

  <p>
    <strong>קן:</strong>
    <%= person.ken %>
  </p>

  <p>
    <strong>גרעין:</strong>
    <%= person.garin %>
  </p>

  <p>
    <strong>סיפור חיים:</strong>
    <%= person.life_story %>
  </p>
  <%= link_to "עריכה", edit_person_path(person) %>
</div>
