
<h1 class="mx-auto">אתר יזכור לתנועת השומר הצעיר</h1>

<div class="card-group">
  <% @people.each do |person| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= person.name %></h5>
        <p class="card-text">נפל.ה בגיל <%= person.age %>, במקור מקן <%= person.ken %></p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><%= link_to "פרטים נוספים", person %></small>
        <small class="text-body-secondary"><%= link_to "עריכה", edit_person_path(person) %></small>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "הוספת אדם חדש", new_person_path %>