<p style="color: green"><%= notice %></p>

<%= render @person %>

<div>
  <%= link_to "עריכה", edit_person_path(@person) %> |
  <%= link_to "חזרה לכלל הנופלים והנופלות", people_path %>

  <%= button_to "מחיקה", @person, method: :delete %>
</div>
